.logo {
    background: url("../images/symbian/logo.png") no-repeat;
    font-size: 0;
    height: 70px;
    width: 256px;
}

.logo a {
    display: block;
    height: 70px;
    width: 256px;
}

.nav {
    width: 1192px;
    height: 70px;
    margin: 0 auto;
}

.menu a {
    display: block;
    margin-top: 0px;
    transition: all 0.4s;
}

.nav_list {
    text-align: center;
    font-size: 0.75em;
}

.nav_list span {
    display: block;
    color: #000;
}

.nav_list li {
    width: 70px;
    height: 16px;
    margin: 25px 40px 0px 0px;
    float: left;
    overflow: hidden;
}
.nav_list li:hover a{
    margin-top: -16px;
}
.info {
    height: 800px;
    width: 1200px;
    margin: 0px auto;
    border: 1px solid #000;
    position: relative;
}
.n8img {
    width: 235px;
    height:  548px;
    border: 1px solid #000;
    background: url("../images/symbian/n8.png") no-repeat;
    background-size: contain;
    position: absolute;
    right: 30px;
    bottom: 100px;
}